<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.okason.diary"
          android:installLocation="preferExternal">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".core.ProntoDiaryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NoteListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="invite.prontodiary.com"
                    android:scheme="http"/>
                <data
                    android:host="invite.prontodiary.com"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.AuthUiActivity"
            android:label="@string/title_activity_auth_ui"
            android:parentActivityName=".NoteListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.okason.diary.NoteListActivity"/>
        </activity>

        <service
            android:name=".core.services.AddSampleDataIntentService"
            android:exported="false"/>

        <activity
            android:name=".ui.addnote.AddNoteActivity"
            android:label="@string/title_activity_add_note"
            android:parentActivityName=".NoteListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.okason.diary.NoteListActivity"/>
        </activity>
        <activity
            android:name=".ui.notedetails.NoteDetailActivity"
            android:label="@string/title_activity_note_detail"
            android:parentActivityName=".NoteListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.okason.diary.NoteListActivity"/>
        </activity>
        <activity android:name=".ui.attachment.GalleryActivity"/>
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity"
            android:theme="@style/MaterialCamera.CaptureActivity"/>
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity2"
            android:theme="@style/MaterialCamera.CaptureActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".ui.sketch.SketchActivity">
        </activity>
        <activity
            android:name=".core.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask"
            android:parentActivityName=".NoteListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.okason.diary.NoteListActivity"/>
        </activity>

        <service
            android:name=".core.services.MyFirebaseInstanceIdService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name=".core.services.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity
            android:name=".ui.todolist.AddTaskActivity"
            android:label="@string/title_activity_add_task"
            android:parentActivityName=".NoteListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.okason.diary.NoteListActivity"/>
        </activity>
        <activity
            android:name=".ui.todolist.AddSubTaskActivity"
            android:label="@string/title_activity_add_sub_task"
            android:parentActivityName=".NoteListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.okason.diary.NoteListActivity"/>
        </activity>

        <service
            android:name=".core.services.DownloadFileFromFireaseIntentService"
            android:exported="false">
        </service>

        <activity
            android:name=".ui.todolist.TodoListActivity"
            android:label="@string/title_activity_todo_list"
            android:launchMode="singleTask"
            android:parentActivityName=".NoteListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.okason.diary.NoteListActivity"/>
        </activity>
        <activity
            android:name=".ui.folder.FolderListActivity"
            android:label="@string/title_activity_folder_list"
            android:parentActivityName=".NoteListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.okason.diary.NoteListActivity"/>
        </activity>
        <activity
            android:name=".ui.tag.TagListActivity"
            android:label="@string/title_activity_tag_list"
            android:parentActivityName=".NoteListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.okason.diary.NoteListActivity"/>
        </activity>

        <service
            android:name=".core.services.InviteRewardIntentService"
            android:exported="false">
        </service>
        <service
            android:name=".core.services.HandleNoteDeleteIntentService"
            android:exported="false">
        </service>
        <service
            android:name=".core.services.MergeJournalIntentService"
            android:exported="false">
        </service>
        <service
            android:name=".core.services.MergeTagIntentService"
            android:exported="false">
        </service>

        <service
            android:name=".core.services.MergeFolderIntentService"
            android:exported="false">
        </service>
    </application>

</manifest>